{% extends 'base.html.twig' %}
{% form_theme form _self %}

{% block _password_form_password_widget  %}
    <label class="flex flex-col-reverse relative focus group"  for="password_form_password" >
    
      <input
          id="password_form_password" name="password_form[password]"
          type="textarea" name="password"
          class="border-2 border-black px-4 py-3 leading-9 rounded-3xl">
      
      <span class="absolute text-xl transform -translate-y-3 left-4 transition leading-10 group-focus-within:-translate-y-16 text-orange-500">
        Password *
      </span>

      <span class="ml-auto leading-10 text-orange-500">* Required</span>
  
  </label>
{% endblock %}

{% block body %}

<div class="container mx-auto">
  <div class="flex flex-col align-center justify-center">
    {{form_start(form)}}
      {{form_row(form.password,{
        'label_attr':{'class':'font-sans text-white'},
        'row_attr':{'class':'mt-5'}
      })}}
    {{form_end(form)}}
  </div>
</div>
{% endblock %}
