<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>SQLQueryGenerator</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/app.css')}}">
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {{ encore_entry_script_tags('add-collection-widget') }}
        {% endblock %}
    </head>
    
    <body class="bg-slate-900">
        <header>
            <nav class="w-full py-6 bg-slate-800 w-screen">
                <div class="flex items-center justify-between mx-auto xl:max-w-7xl lg:max-w-5xl md:max-w-3xl md:px-2 px-4">
                    <section class="flex items-center text-gray-900 space-x-2">
                        <a href="/projects" class="flex flex-col justify-center text-transparent bg-gradient-to-r from-pink-500 via-red-500 to-yellow-500 bg-clip-text">
                            <h1 class="text-center mt-1 font-extrabold uppercase tracking-tighest text-xl">GENERADOR DE QUERIES</h1>
                        </a>
                    </section>
                    <section>
                    <ul class="md:space-x-8 space-x-6 text-white-900 font-semibold hidden md:flex">
                        <li class="relative group">
                            <a href="/projects" class="group focus:ring focus:ring-purple-500 focus:ring-opacity-25 outline-none rounded-lg"> Home </a>
                            <div class="w-full h-0.5 bg-transparent group-hover:bg-purple-500 transition-al absolute bottom-0" />
                        </li>
                        <li><a href="#" class="bg-pink-500 px-4 py-1 rounded-xl text-white hover:bg-purple-400 active:bg-pink-600 focus:ring focus:ring-purple-500 focus:ring-opacity-25 outline-none">Login</a></li>
                    </ul>
                    <button class="flex md:hidden hover:bg-gray-100 p-2 rounded-full transition-all focus:ring focus:ring-purple-500 focus:ring-opacity-25 active:bg-gray-200 outline-none">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM9 15a1 1 0 011-1h6a1 1 0 110 2h-6a1 1 0 01-1-1z" clip-rule="evenodd" />
                        </svg>
                    </button>
                    </section>
                </div>
            </nav>
        </header>
        <main>
            {% block body %}{% endblock %}
        </main>
    </body>
</html>
